extends ../layout/app

block variables
  - var active = "Home"

block content
  .hero
    .container.container--offset 
      .row
        .col-7.hero__content
          .hero__award
            .hero__award-icon
              svg(width="18" height="18")
                use(xlink:href="#award")
            | #1 Editiors Choice App of 2020
          h1.hero__title Best app for your modern lifestyle
          p.hero__subtitle Increase productivity with a simple to-do app. app for managing your personal budgets.
          .hero__buttons
            a(href="#" class="button") Try it for Free
            a(href="#" class="button button--link") Watch demo video
        .col
          img(src="images/screen-1.svg" class="hero__phone" alt="App")
  section.section.section--trusted.pb-0
    .container.container--offset
      h2.section__heading.heading.heading--trusted Trusted by companies like
      .banners.banners--trusted.row
        each item in htmlWebpackPlugin.options.global.banners
          +banner(item)(class="col-2")
  section.section.section--features.pb-0
    .container.container--offset
      .row
        .col.d-flex.flex-column.justify-content-center
          img(src="images/ellipse-1.png" class="section__image section__image--ellipse" alt="ellipse")
          img(src="images/screen-2.svg" class="section__image section__image--phone" alt="features")
        .col
          h2.section__heading.heading.heading--features Awesome app <br> features
          p.section__subheading Increase productivity with a simple to-do app. app for managing your personal budgets.
          .features
            each item, index in htmlWebpackPlugin.options.global.features
              +feature(item)
  section.section.section--jackpots
    .container.container--offset
      .row.section__heading-container
        .col.section__heading-spacer.section__heading-spacer--right
          h2.section__heading.heading.heading--jackpots.
            Smart jackpots that you may love this 
            anytime & anywhere
        .col.d-flex.align-items-center.section__heading-spacer.section__heading-spacer--left
          p.section__subheading.mb-0.
            The rise of mobile devices transforms the way we
            consume information entirely and the world's most
            elevant channels such as Facebook.
      .row.justify-content-between
        each item in htmlWebpackPlugin.options.global.jackpots
          .col-4
            +feature(item)
  section.section.section--designed.section--no-padding
    .container
      .row
        .col
          img(src="images/designed-01.svg" class="section__image" )
        .col.section.container.container--offset
          h3.section__heading.heading.
            Designed & built by
            the latest code
            integration
          p.section__subheading.mb-5.
            The rise of mobile devices transforms the way we
            consume information entirely and the world's most
            elevant channels such as Facebook.
          a(href="#" class="button button--lg") Learn More
  section.section.section--why-choose.pb-0
    .container.container--offset
      h3.section__heading.heading.heading--why-choose.text-center Why you should choose our app
      p.section__subheading.text-center.
        The rise of mobile devices transforms the way we consume information entirely <br>
        and the world's most elevant channels such as Facebook.
      .row
        each item in htmlWebpackPlugin.options.global.pros
          .col-4
            +feature(item)
  section.section.section--what-we-built.pb-0
    .container.container--offset
      .row
        .col-8
          h3.section__heading.heading.heading--what-we-built Ultimate features <br> that we built
          p.section__subheading.
            The rise of mobile devices transforms the way we <br>
            consume information entirely.
          .row
            each item in htmlWebpackPlugin.options.global.built
              .col-6
                +feature(item)
          a(href="#" class="button button--lg") See all
        .col.d-flex.flex-column.justify-content-center
          img(src="images/elipses-2.png" class="section__image section__image--ellipse" alt="ellipse")
          img(src="images/phone-3.svg" class="section__image section__image--phone-first" alt="ellipse")
          img(src="images/phone-4.png" class="section__image section__image--phone-second" alt="ellipse")
  section.section.section--planning.pb-0
    .container
      h3.section__heading.heading.heading--planning.text-center.
        Get awesome features, without <br>
        extra charges
      p.section__subheading.text-center.
        The rise of mobile devices transforms the way we consume information entirely <br>
        and the world's most elevant channels such as Facebook.
      .switch
        .switch__header
          .switch__header-inner
            .switch__slider
            button.switch__button.switch__button--active.button(type="button") Monthly
            button.switch__button.button(type="button") Annually
        .switch__content
          .row.justify-content-center
            .col-5
              .planning-card
                .planning-card__inner
                  .planning-card__front
                    .planning-card__header
                      .planning-card__pricing
                        span.planning-card__pricing-amount $0
                        span.planning-card__pricing-period / month
                      h5.planning-card__title Business Card
                      p.planning-card__subtitle For small teams or office
                    .planning-card__body
                      ul.list.planning-card__list
                        li.list__item Drag & Drop Builder
                        li.list__item 1,000's of Templates
                        li.list__item Blog Support Tools
                        li.list__item eCommerce Store
                      button.button.button--lg Start free trial
                  .planning-card__back
                    .planning-card__header
                      .planning-card__pricing
                        span.planning-card__pricing-amount $0
                        span.planning-card__pricing-period / year
                      h5.planning-card__title Business Card
                      p.planning-card__subtitle For small teams or office
                    .planning-card__body
                      ul.list.planning-card__list
                        li.list__item Drag & Drop Builder
                        li.list__item 1,000's of Templates
                        li.list__item Blog Support Tools
                        li.list__item eCommerce Store
                      button.button.button--lg Start free trial
            .col-5
              .planning-card.planning-card--recommended
                .planning-card__inner
                  .planning-card__front
                    .planning-card__header
                      .planning-card__pricing
                        span.planning-card__pricing-amount $99
                        span.planning-card__pricing-period / month
                      h5.planning-card__title Pro Master
                      p.planning-card__subtitle For Best Opportunities
                    .planning-card__body
                      ul.list.planning-card__list
                        li.list__item Drag & Drop Builder
                        li.list__item 1,000's of Templates
                        li.list__item Blog Support Tools
                        li.list__item eCommerce Store
                      button.button.button--lg Subscribe now
                    .planning-card__footer
                      a.link(href="#") Or Start 14 days trial
                  .planning-card__back
                    .planning-card__header
                      .planning-card__pricing
                        span.planning-card__pricing-amount $999
                        span.planning-card__pricing-period / year
                      h5.planning-card__title Pro Master
                      p.planning-card__subtitle For Best Opportunities
                    .planning-card__body
                      ul.list.planning-card__list
                        li.list__item Drag & Drop Builder
                        li.list__item 1,000's of Templates
                        li.list__item Blog Support Tools
                        li.list__item eCommerce Store
                      button.button.button--lg Subscribe now
                    .planning-card__footer
                      a.link(href="#") Or Start 14 days trial
  section.section.section--slider.position-relative
    .container
      .row
        .col-6
          img.section__image(src="images/map.png")
        .col-6
          h3.section__heading.heading.heading--slider.
            Meet Client Satisfaction <br>
            by using product
          p.section__subheading.
            The rise of mobile devices transforms the way we consume.
            elevant channels such as Facebook.
          .testimonial-slider
            .testimonial-slider__item
              .testimonial-slider__rating
                svg(width="20" height="20")
                  use(xlink:href="#star")
                svg(width="20" height="20")
                  use(xlink:href="#star")
                svg(width="20" height="20")
                  use(xlink:href="#star")
                svg(width="20" height="20")
                  use(xlink:href="#star")
                svg(width="20" height="20")
                  use(xlink:href="#star")
              h5.testimonial-slider__title.
                User friendly & Customizable
              p.testimonial-slider__feedback.
                Bring to the table win-win survival strategies to ensure proactive 
                domination. At the end of the day, going forward, a new normal
                that has evolved from generation X is on the runway heading towards
                a streamlined cloud solution. User generated content in real-time will
                have multiple touchpoints for offshoring.
              .testimonial-slider__profile
                img.testimonial-slider__profile-image(src="images/adult-beard-boy-220453.png")
                .testimonial-slider__profile-name.
                  Zoltan Nemeth
                .testimonial-slider__role.
                  CEO of Pixler Lab
            .testimonial-slider__item
              .testimonial-slider__rating
                svg(width="20" height="20")
                  use(xlink:href="#star")
                svg(width="20" height="20")
                  use(xlink:href="#star")
                svg(width="20" height="20")
                  use(xlink:href="#star")
                svg(width="20" height="20")
                  use(xlink:href="#star")
                svg(width="20" height="20")
                  use(xlink:href="#star")
              h5.testimonial-slider__title.
                User friendly & Customizable
              p.testimonial-slider__feedback.
                Bring to the table win-win survival strategies to ensure proactive 
                domination. At the end of the day, going forward, a new normal
                that has evolved from generation X is on the runway heading towards
                a streamlined cloud solution. User generated content in real-time will
                have multiple touchpoints for offshoring.
              .testimonial-slider__profile
                img.testimonial-slider__profile-image(src="images/adult-beard-boy-220453.png")
                .testimonial-slider__profile-name.
                  Zoltan Nemeth
                .testimonial-slider__role.
                  CEO of Pixler Lab
                




