extends ../layout/app

block variables
  - var active = "Home"

block content
  .hero
    .container.container--offset 
      .row
        .col-7.hero__content
          .hero__award
            .hero__award-icon
              svg(width="18", height="18")              
                use(xlink:href="#award")
            | #1 Editiors Choice App of 2020
          h1.hero__title Best app for your modern lifestyle
          p.hero__subtitle Increase productivity with a simple to-do app. app for managing your personal budgets.
          .hero__buttons
            a(href="#" class="button") Try it for Free
            a(href="#" class="button button--link") Watch demo video
        .col
          img(src="images/screen-1.svg" class="hero__phone" alt="App")
  section.section.section--trusted
    .container.container--offset
      h2.section__heading.heading.heading--trusted Trusted by companies like
      .banners.banners--trusted.row
        each item in htmlWebpackPlugin.options.global.banners
          +banner(item)(class="col-2")
  section.section.section--features.pt-0.pb-0
    .container.container--offset
      .row
        .col.d-flex.flex-column.justify-content-center
          img(src="images/ellipse-1.png" class="section__image section__image--ellipse" alt="ellipse")
          img(src="images/phone-2.svg" class="section__image section__image--phone" alt="features")
        .col
          h2.section__heading.heading.heading--features Awesome app <br> features
          p.section__subheading Increase productivity with a simple to-do app. app for managing your personal budgets.
          .features
            each item, index in htmlWebpackPlugin.options.global.features
              +feature(item)
  section.section.section--jackpots
    .container.container--offset
      .row.section__heading-container
        .col
          h2.section__heading.heading.heading--jackpots.
            Smart jackpots that you may love this 
            anytime & anywhere
        .col.ml-md-4.d-flex.align-items-center
          p.section__subheading.mb-0.
            The rise of mobile devices transforms the way we
            consume information entirely and the world's most
            elevant channels such as Facebook.
      .row.justify-content-between
        each item in htmlWebpackPlugin.options.global.jackpots
          .col-4
            +feature(item)
  section.section.section--designed.section--no-padding
    .container
      .row
        .col
          img(src="images/designed-01.svg" class="section__image" )
        .col.section.container.container--offset
          h3.section__heading.heading.
            Designed & built by
            the latest code
            integration
          p.section__subheading.mb-5.
            The rise of mobile devices transforms the way we
            consume information entirely and the world's most
            elevant channels such as Facebook.
          a(href="#" class="button") Learn More






