footer.footer.section
  svg#particle1(width="20" height="20")
    use(xlink:href="#particle")
  svg#particle2(width="20" height="20")
    use(xlink:href="#particle")

  .container
    .row
      .col-6.mx-auto.d-flex.flex-column.align-items-center
        a.footer__logo.logo(href="#") App
          span Lab
        ul.footer__menu.menu
          li.menu__item
            a(href="#") Home
          li.menu__item
            a(href="#") Key Features
          li.menu__item
            a(href="#") Pricing
          li.menu__item
            a(href="#") Testimonial
          li.menu__item
            a(href="#") FAQ
        .footer__social
          a.footer__social-link(href="#") 
            svg
              use(xlink:href="#facebook")
          a.footer__social-link(href="#") 
            svg
              use(xlink:href="#twitter")
          a.footer__social-link(href="#") 
            svg
              use(xlink:href="#slack")
          a.footer__social-link(href="#") 
            svg
              use(xlink:href="#github")
        .footer__copyright.
          Copyright© Arifur Rahman Tushar 2019. All rights reserved




