mixin item(title, url)
  li( class='menu__item' + (active == title ? ' menu__item--active' : '') )
    a(href=url) #{title}    

header.header
  .container
    a.header__logo.logo(href="#") App
      span Lab
    .header__inner
      ul.header__menu.menu
        each navItem in htmlWebpackPlugin.options.global.navMenu
          +item(navItem.title, navItem.link)
      .header__buttons
        button(class="button", type="button") Try for free
