.accordion {
  $parent: &;

  &__item {
    background-color: #f5f7fa;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
  &__inner {
    padding: 0 50px 50px 50px;

    @include media-breakpoint-down(sm) {
      padding: 0 20px 20px 20px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    @include media-breakpoint-down(sm) {
      overflow-x: auto;
      white-space: nowrap;
      font-size: 16px;
    }
  }

  &__header {
    position: relative;
    color: $accent;
    cursor: pointer;
    padding: 25px 70px 25px 50px;

    &:not(.collapsed) {
      #{$parent}__icon::before {
        top: 50%;
        bottom: 50%;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 50px 25px 20px;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: calc(25px + 18px / 2);
    &::before {
      content: "";
      transition: top 0.35s ease, bottom 0.35s ease;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% - 1px);
      width: 2px;
      background-color: $accent;
    }
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      width: 100%;
      height: 2px;
      background-color: $accent;
    }
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      right: 20px;
      top: calc(20px + 18px / 2);
    }
  }
}
