.button {
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 100px;
  display: inline-block;
  background-color: $primary;
  color: $white;
  border: none;
  &:hover {
    background-color: darken($primary, 10%);
    color: $white;
  }

  &--lg {
    padding: 20px 60px;
  }

  &--link {
    font-weight: 400;
    &,
    &:hover {
      color: $primary;
      background-color: transparent;
    }
  }

  &--responsive {
    @include media-breakpoint-down(sm) {
      text-align: center;
      display: block;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}
