#particle1 {
  position: absolute;
  top: 15px;
  left: 51%;
}

#particle2 {
  position: absolute;
  top: 45px;
  right: 5%;
}

.footer {
  position: relative;
  background-color: $accent;
  color: $white;

  &__title {
    font-weight: 600;
    margin-bottom: 40px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__logo {
    margin-bottom: 54px;
    span {
      color: $white;
    }

    &:hover {
      span {
        color: $white;
      }
    }
  }

  &__menu {
    margin-bottom: 50px;
    .menu__item {
      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }
  }

  &__copyright {
    color: #5f636e;
  }

  &__bottom {
    margin-bottom: 65px;
  }

  &__social {
    display: flex;
    margin-bottom: 80px;
  }

  &__social-link {
    color: rgba($white, 0.1);
    display: inline-block;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 32px;
      height: 32px;
    }
    &::hover {
      color: $white;
    }

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
