.hero {
  position: relative;
  z-index: 1;
  padding-top: 56px + 90px;
  padding-bottom: 16px;
  // height: $hero-height-xl;
  background-color: #fdfdfe;

  @extend %background-image;
  background-position: bottom;
  background-size: 100% auto;
  background-image: url("../images/hero.jpg");

  &__title {
    font-size: 60px;
    margin-bottom: 25px;
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  &__bg-object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @extend %background-image;
    background-position: bottom center;
    background-size: cover;
    background-image: url("../images/bg-object.svg");
  }

  &__text {
  }

  &__award {
    line-height: 1;
    background-color: #e2eaed;
    display: inline-block;
    padding: 10px 48px;
    border-radius: 17px;
    position: relative;
    margin-bottom: 30px;
  }

  &__award-icon {
    color: $white;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    border-radius: 17px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__phone {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 140px;
    // height: $hero-height-lg;
  }
}
