.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  line-height: 88px;
  text-align: center;
  border-radius: 50%;
  background-size: auto;

  &::before {
    @extend %background-image;
    background-size: auto;
    content: "";
  }

  &--speed::before {
    @include sprite($speed);
  }

  &--vector::before {
    @include sprite($vector);
  }

  &--prototyping::before {
    @include sprite($prototyping);
  }

  &--bill::before {
    @include sprite($bill);
  }

  &--network::before {
    @include sprite($network);
  }

  &--badge::before {
    @include sprite($badge);
  }

  &--web-design::before {
    @include sprite($web-design);
  }

  &--trophy::before {
    @include sprite($trophy);
  }

  &--computer::before {
    @include sprite($computer);
  }

  &--customer-support::before {
    @include sprite($customer-support);
  }

  &--customer-service::before {
    @include sprite($customer-service);
  }

  &--ui::before {
    @include sprite($ui);
  }

  &--red {
    background-color: #ffecef;
  }

  &--blue {
    background-color: #eaf9ff;
  }

  &--green {
    background-color: #e4ffee;
  }

  &--gray {
    background-color: #f4f4ff;
  }

  &--orange {
    background-color: #fff6d3;
  }

  &--red-light {
    background-color: #fdeee4;
  }
}
