.mobile-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: $mobile-menu-width;
  height: 100%;
  padding: 50px 40px 20px 40px;
  overflow-y: auto;
  transform: translateX($mobile-menu-width);
  transition: $content-transition;
  background-color: $white;

  &__menu {
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 30px;
    .menu__item {
      margin-bottom: 15px;
    }
  }

  &__try-btn {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  @media screen and (max-width: 320px) {
    width: 100vw;
    transform: translateX(100%);
  }
}

.mobile-menu-overlay {
  opacity: 0;
  visibility: hidden;
  content: '';
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($black, 0.3);
  transition: all 0.3s linear;
}
