.section {
  padding-top: 130px;
  padding-bottom: 130px;
  $parent: &;

  &__subheading {
    margin-bottom: 80px;
  }

  &__heading {
  }

  &--trusted {
  }

  &--pt-0 {
    padding-top: 0;
  }

  &--pb-0 {
    padding-bottom: 0;
  }

  &--features {
    #{$parent}__image--ellipse {
      position: absolute;
      // top: calc(50% - 587px / 2);
      left: -86px;
      width: 115%;
    }
    #{$parent}__image--phone {
      width: 100%;
      height: auto;
      transform: rotate(-15deg) translateX(-5%) translateY(-10%);
    }
  }

  &--jackpots {
    #{$parent}__heading {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #b9b9b8;
      }
    }

    #{$parent}__heading-container {
      margin-bottom: 110px;
    }
  }

  &--designed {
    #{$parent}__image {
      position: absolute;
      right: 0;
      height: 100%;
      width: auto;
    }
    #{$parent}__content {
    }
  }

  &__content {
  }

  &__image {
  }

  @include media-breakpoint-down(lg) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}
