.section {
  padding-top: $section-padding-y / 2;
  padding-bottom: $section-padding-y / 2;
  $parent: &;

  &__subheading {
    margin-bottom: 80px;
  }

  &__heading {
  }

  &--trusted {
  }

  &--border-bottom {
    border-bottom: 2px solid $border-color;
  }

  &--features {
    padding-top: 150px;
    #{$parent}__image--ellipse {
      position: absolute;
      // top: calc(50% - 587px / 2);
      left: -$container-offset-padding-x / 2;
      width: 100%;
    }
    #{$parent}__image--phone {
      @extend %phone-mockup;
      width: 65%;
      height: auto;
      transform-origin: center;
      transform: rotate(-15deg) translateX(10%);
    }
  }

  &--jackpots {
    #{$parent}__heading {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #b9b9b8;
      }
    }

    #{$parent}__heading-spacer {
      &--left {
        padding-left: 48px;
      }

      &--right {
        padding-right: 48px;
      }
    }

    #{$parent}__heading-container {
      margin-bottom: 110px;
    }
  }

  &--designed {
    #{$parent}__image {
      position: absolute;
      right: 0;
      height: 100%;
      width: auto;
    }
    #{$parent}__content {
    }
  }

  &--what-we-built {
    #{$parent}__image--ellipse {
      position: absolute;
      z-index: -1;
      top: 40px;
      height: 100%;
      width: auto;
    }

    #{$parent}__image--phone-first {
      @extend %phone-mockup;
      transform: rotate(-15deg) translateY(10%);
      width: 80%;
    }

    #{$parent}__image--phone-second {
      transform: translateY(15%);
      position: absolute;
      left: 32%;
      top: 10%;
      max-width: 120%;
    }
  }

  &--slider {
    #{$parent}__image {
      position: absolute;
      top: 75px;
      right: 0;
      height: 80%;
    }
  }

  &--downloads {
    #{$parent}__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
    }
  }

  &__content {
  }

  &__image {
  }

  @include media-breakpoint-down(lg) {
    padding-top: $section-padding-y / 4;
    padding-bottom: $section-padding-y / 4;
  }

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}
