.section {
  padding-top: $section-padding-y / 2;
  padding-bottom: $section-padding-y / 2;
  $parent: &;

  
  &__subheading {
    margin-bottom: 80px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
  }

  &__heading {
  }

  &--trusted {
  }

  &--border-bottom {
    border-bottom: 2px solid $border-color;
  }

  &--features {
    padding-top: 150px;
    #{$parent}__image-container {
      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
      }
    }
    #{$parent}__image--ellipse {
      position: absolute;
      // top: calc(50% - 587px / 2);
      left: -$container-offset-padding-x / 2;
      width: 100%;

      @include media-breakpoint-down(sm) {
        left: auto;
      }
    }
    #{$parent}__image--phone {
      width: 65%;
      height: auto;
      transform-origin: center;
      transform: rotate(-15deg) translateX(-12%) translateY(-5%);
      @include media-breakpoint-down(sm) {
        transform: rotate(-15deg);
      }
    }
  }

  &--jackpots {
    #{$parent}__heading {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #b9b9b8;
        @include media-breakpoint-down(sm) {
          content: none;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
      }
    }

    #{$parent}__heading-spacer {
      &--left {
        padding-left: 48px;
      }

      &--right {
        padding-right: 48px;
      }

      @include media-breakpoint-down(sm) {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
      }
    }

    #{$parent}__heading-container {
      margin-bottom: 110px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 55px;
      }
    }
  }

  &--designed {
    #{$parent}__image {
      position: absolute;
      right: 0;
      height: 100%;
      width: auto;
      @include media-breakpoint-down(sm) {
        position: static;
        width: 100%;
        height: auto;
      }
    }

    .container--offset {
      @include media-breakpoint-down(sm) {
        padding-bottom: 0;
      }
    }

    #{$parent}__content {
    }
  }

  &--what-we-built {
    #{$parent}__image--ellipse {
      position: absolute;
      z-index: -1;
      top: 40px;
      height: 100%;
      width: auto;

      @include media-breakpoint-down(sm) {
        left: 0;
      }
    }

    #{$parent}__image--phone-first {
      transform: rotate(-15deg) translateX(-5%) translateY(-5%);
      width: 90%;
      @include media-breakpoint-down(sm) {
        width: 70%;
        transform: rotate(-15deg) translateX(-5%) translateY(5%);
      }
    }

    #{$parent}__image--phone-second {
      transform: translateY(-10%);
      position: absolute;
      left: 32%;
      top: 10%;
      width: 120%;
      @include media-breakpoint-down(sm) {
        transform: translateX(-5%) translateY(0);
        width: 80%;
      }
    }

    #{$parent}__image-container,
    #{$parent}__container {
      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
      }
    }
  }

  &--slider {
    #{$parent}__image {
      position: absolute;
      top: 75px;
      right: 0;
      height: 80%;

      @include media-breakpoint-down(sm) {
        position: static;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }
    }

    padding-bottom: $section-padding-y / 2;
  }

  &--downloads {
    #{$parent}__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;

      @include media-breakpoint-down(sm) {
        position: static;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }
    }
  }

  &__content {
  }

  &__image {
  }

  @include media-breakpoint-down(lg) {
    padding-top: $section-padding-y / 4;
    padding-bottom: $section-padding-y / 4;
    &.section--slider {
      padding-bottom: $section-padding-y / 2;
    }
  }

}
