$container-max-widths: (
  sm: 576px,
  md: 900px,
  lg: 1170px,
  xl: 1400px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 900px,
  lg: 1170px,
  xl: 1400px
) !default;

$black: #000;
$primary: #2500f9;
$accent: #242f51; 
$secondary: #feaa25;
$white: #fff;
$h1-font-size: 3.75rem;
$h2-font-size: 2.1875rem;
$h3-font-size: 1.875rem;
$h4-font-size: 0.875rem;

$headings-font-weight: 600;
$headings-line-height: 1.4;
$headings-color: $accent;

$orange: #fc6a42;
$pink: #f5989d;
$green: #82ca9c;

$font-size-base: 1rem;
$line-height-base: 1.62;

$header-color: #e1e1e1;
$muted: #b1b1b3;
$body-color: #616368;
$border-color: #f4f4f4;
$yellow-light: #fcec64; 

$font-family-base: "Poppins", sans-serif;

$header-height: 250px;
$hero-height-xl: 1000px;
$hero-height-lg: 800px;
$header-padding-top: 90px;
$header-padding-bottom: 90px;
$header-height: $header-padding-top + 56px + $header-padding-bottom;
$header-box-shadow: 0 0 20px rgba($black,.1);

$section-padding-y: 232px;
$container-offset-padding-x: 120px;

// toggle
$toggle-height: 20px;
$toggle-width: 30px;
$toggle-padding: 3px;
$toggle-inner-height: 2px;
$toggle-bg: transparent;
$toggle-color: $accent;

// mobile menu
$mobile-menu-width: 265px;

// transition
$content-transition: 0.3s transform ease;